[submodule "src/tkdnd"]
	path = src/tkdnd
	url = https://github.com/chpock/tkdnd
[submodule "src/tcl"]
	path = src/tcl
	url = https://github.com/tcltk/tcl.git
[submodule "src/tk"]
	path = src/tk
	url = https://github.com/tcltk/tk.git
[submodule "src/thread"]
	path = src/thread
	url = https://github.com/tcltk/thread.git
[submodule "src/tktable"]
	path = src/tktable
	url = https://github.com/chpock/tktable.git
