[submodule "src/tkdnd"]
	path = src/tkdnd
	url = https://github.com/chpock/tkdnd
[submodule "src/tcl"]
	path = src/tcl
	url = https://github.com/tcltk/tcl.git
[submodule "src/tk"]
	path = src/tk
	url = https://github.com/tcltk/tk.git
[submodule "src/thread"]
	path = src/thread
	url = https://github.com/tcltk/thread.git
[submodule "src/tktable"]
	path = src/tktable
	url = https://github.com/chpock/tktable.git
[submodule "src/zlib"]
	path = src/zlib
	url = https://github.com/madler/zlib.git
[submodule "src/cookfs"]
	path = src/cookfs
	url = https://github.com/chpock/cookfs.git
[submodule "src/tclvfs"]
	path = src/tclvfs
	url = https://github.com/chpock/tclvfs.git
[submodule "src/installkit/tclconfig"]
	path = src/installkit/tclconfig
	url = https://github.com/tcltk/tclconfig
[submodule "src/twapi"]
	path = src/twapi
	url = https://github.com/chpock/twapi.git
[submodule "src/installkit/tclx"]
	path = src/installkit/tclx
	url = https://github.com/flightaware/tclx.git
[submodule "src/wolfssl"]
	path = src/wolfssl
	url = https://github.com/wolfSSL/wolfssl.git
